<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<integer>1</integer>
	<key>resolutionData</key>
	<dict>
		<key>createMarkedFile</key>
		<real>491067851.42801899</real>
		<key>sheetClusters</key>
		<dict>
			<key>2012-03-01-1-evernote-task-management-introduction.md</key>
			<dict>
				<key>lastModification</key>
				<real>467936794</real>
				<key>version</key>
				<dict>
					<key>legacy-467936794.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-03-01-2-evernote-task-management-install.md</key>
			<dict>
				<key>lastModification</key>
				<real>467936794</real>
				<key>version</key>
				<dict>
					<key>legacy-467936794.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-03-01-3-evernote-task-management-setup.md</key>
			<dict>
				<key>lastModification</key>
				<real>467936794</real>
				<key>version</key>
				<dict>
					<key>legacy-467936794.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-03-01-4-evernote-task-management-creation.md</key>
			<dict>
				<key>lastModification</key>
				<real>467936794</real>
				<key>version</key>
				<dict>
					<key>legacy-467936794.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-03-01-5-evernote-task-management-review.md</key>
			<dict>
				<key>lastModification</key>
				<real>467936794</real>
				<key>version</key>
				<dict>
					<key>legacy-467936794.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-03-01-6-evernote-task-management-completion.md</key>
			<dict>
				<key>lastModification</key>
				<real>467936794</real>
				<key>version</key>
				<dict>
					<key>legacy-467936794.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-03-01-7-evernote-task-management-scenarios.md</key>
			<dict>
				<key>lastModification</key>
				<real>467936794</real>
				<key>version</key>
				<dict>
					<key>legacy-467936794.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-03-01-8-evernote-task-management-paper.md</key>
			<dict>
				<key>lastModification</key>
				<real>467936794</real>
				<key>version</key>
				<dict>
					<key>legacy-467936794.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-03-01-9-evernote-task-management-enhancements.md</key>
			<dict>
				<key>lastModification</key>
				<real>467936794</real>
				<key>version</key>
				<dict>
					<key>legacy-467936794.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
		<key>userIconName</key>
		<real>491067920.40640301</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2012-03-01-1-evernote-task-management-introduction.md</string>
		</array>
		<array>
			<string>2012-03-01-2-evernote-task-management-install.md</string>
		</array>
		<array>
			<string>2012-03-01-3-evernote-task-management-setup.md</string>
		</array>
		<array>
			<string>2012-03-01-4-evernote-task-management-creation.md</string>
		</array>
		<array>
			<string>2012-03-01-5-evernote-task-management-review.md</string>
		</array>
		<array>
			<string>2012-03-01-6-evernote-task-management-completion.md</string>
		</array>
		<array>
			<string>2012-03-01-7-evernote-task-management-scenarios.md</string>
		</array>
		<array>
			<string>2012-03-01-8-evernote-task-management-paper.md</string>
		</array>
		<array>
			<string>2012-03-01-9-evernote-task-management-enhancements.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>userIconName</key>
	<string>Bulb</string>
	<key>versioning</key>
	<dict>
		<key>createMarkedFile</key>
		<dict>
			<key>cbd72b75a885875341cfc9884be12d1cb02a0c38efab457349826e26d94ae637</key>
			<integer>2</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>cbd72b75a885875341cfc9884be12d1cb02a0c38efab457349826e26d94ae637</key>
			<integer>1</integer>
		</dict>
		<key>userIconName</key>
		<dict>
			<key>cbd72b75a885875341cfc9884be12d1cb02a0c38efab457349826e26d94ae637</key>
			<integer>11</integer>
		</dict>
	</dict>
</dict>
</plist>
