<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2012-03-01-1-evernote-task-management-introduction.md</string>
		</array>
		<array>
			<string>2012-03-01-2-evernote-task-management-install.md</string>
		</array>
		<array>
			<string>2012-03-01-3-evernote-task-management-setup.md</string>
		</array>
		<array>
			<string>2012-03-01-4-evernote-task-management-creation.md</string>
		</array>
		<array>
			<string>2012-03-01-5-evernote-task-management-review.md</string>
		</array>
		<array>
			<string>2012-03-01-6-evernote-task-management-completion.md</string>
		</array>
		<array>
			<string>2012-03-01-7-evernote-task-management-scenarios.md</string>
		</array>
		<array>
			<string>2012-03-01-8-evernote-task-management-paper.md</string>
		</array>
		<array>
			<string>2012-03-01-9-evernote-task-management-enhancements.md</string>
		</array>
	</array>
</dict>
</plist>
