*.plist
*.DS_Store
*.marked
*.woff2
*.ttf
*.eot
assets/fonts/*
*.insyncdl
*.insyncdl
*.insyncdl
_posts/2020/.~1_ZcYfKhlgHTB0K8gbNOg6_mymjss_9Pw-1a7b68.insyncdl
_posts/2020/.~1_ZcYfKhlgHTB0K8gbNOg6_mymjss_9Pw-92f1de.insyncdl
_posts/2020/.~1_ZcYfKhlgHTB0K8gbNOg6_mymjss_9Pw-bea6ba.insyncdl
_posts/2020/.~1_ZcYfKhlgHTB0K8gbNOg6_mymjss_9Pw-c8cc71.insyncdl
_posts/2020/.~1_ZcYfKhlgHTB0K8gbNOg6_mymjss_9Pw-fc9751.insyncdl
_posts/2020/.~1_ZcYfKhlgHTB0K8gbNOg6_mymjss_9Pw-fccaa8.insyncdl
*.insyncdl
