* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-size: 12px;
  background-color: white;
  color: #222222;
  line-height: 24px;
  margin: 0;
  border-top: 7px solid {{ site.theme.highlight_color }};
}

h1, h2, h3, h4, h5, h6 {
  font-family: "open sans", sans-serif;
  font-weight: bold;
}

h1.title {
  font-weight: bold;
}

h1 {
  font-size: 22px;
  line-height: 40px;
}

h2 {
  font-size: 16px;
  line-height: 30px;
  margin: 0 0 0 0;
}

h3 {
  font-size: 12px;
  margin: 0 0 0 0;
}

ul {
  list-style: disc;
}

a {
  color: {{ site.theme.highlight_color }};
  text-decoration: none;
}

a:hover {
  color: {{ site.theme.highlight_color }};
  text-decoration: underline;
}

a:visited {
  color: {{ site.theme.highlight_color }};
}

table {
  font-size: inherit;
  font: 100%;
    padding: 0, 0, 20, 0; }
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Style for images the appear on category pages */

img.category {
  float: left;
  width: 100px;
  margin-left: -7px;
  margin-top: -3px;
}

/* End css style for images that appear on category pages */

ul.posts {
  margin-top: 0;
  list-style-type: none;
  margin-bottom: 10px;
}

ul.posts li {
  margin-left: 1em;
  line-height: 22px;
  font-size: 16px;
  margin-bottom: 0px;
}

li {
  margin-left: 1em;
  line-height: 22px;
  font-size: 16px;
  margin-bottom: 0px;
}

ul.posts span {
  font-family: 'Lucida Console', 'Andale Mono', monospace;
  color: black;
  padding-right: 5px;
  font-size:10px;
}

.meta {
  color: #aaa;
  margin: 0 0 10px 0;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  overflow: hidden;
}

nav h1, nav h2 {
  text-align: center;
}

nav hr {
  margin-top: 10px;
  margin-bottom: 15px;
  border: dotted #ddd;
  border-width: 1px 0 0;
}

#social {
  margin-bottom: 10px;
  font-size: 13px;
}

#post pre {
  border: 1px solid #888;
  background-color: #ddd;
  padding: 0 .4em;
  margin-bottom: 20px !important;
}

#post ul,
#post ol {
  margin-left: 1em;
}

#post code {
  border: 1px dotted #888;
  background-color: #ddd;
  font-size: 85%;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

/* CSS for Images in Post */
#post img {
  max-width: 100%;
  padding-bottom: 20px;
}
/* End Image CSS */

.sidebar {
  padding-top: 25px;
  font-family: "open sans", sans-serif;
}

.sidebar p {
  font-weight: 200;
}

.sidebar a {
  font-weight: 600;
}

.content {
  font: 400 16px/22px "open sans", sans-serif;
  border-left: 1px solid #DDD;
  padding-left: 40px;
  padding-top: 25px;
  min-height: 400px;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #EEE;
  width: 640px;
  overflow: hidden;
}

.aside {
  font-size: 75%;
  color: #666;
}

#home h2 {
  color: {{ site.theme.highlight_color }};
}

#logo {
  margin-bottom: 15px;
}

#stalker {
  display: inline-block;
  height: 18px;
  margin-left: 5px;
}

#stalker a {
  width: 29px;
  overflow: hidden;
  float: left;
}

#stalker i {
  font-size: 28px;
  margin-right: 5px;
}

#stalker a:hover {
  text-decoration: none;
  color: {{ site.theme.highlight_color }};
}

i.fa-hn {
  font-family: "open sans", sans-serif;
  text-align: center;
  font-size: 18px !important;
  position: relative;
  color: white;
}

.home {
  font-size: 24px;
  float: right;
  color: #AAA;
}

.home:hover {
  text-decoration: none;
}

.disclaimer p {
  margin-top: 5px;
  font-size: 11px;
  text-align: center;
}

.footnotes {
  font-size: 10px;
  font-style: italic;
}

.icon-overlay {
  font-size: 16px !important;
  position: relative;
  bottom: 27px;
  left: 5px;
  color: white;
}

.caption {
  margin: 0 auto;
  text-align: center;
  font-size: smaller;
  padding-bottom: 10px
}
