---
layout: default
comments: false
---

<a href="/">
<!-- Home Icon --><i class="home fa fa-home" style='margin-top:7px'></i>
</a><h1 class="title" style='margin-top:-3px'>{{ page.title }}</h1>

<div id="post">
  {{ content }}
</div>


<div id="related">
  <h3>Related Posts</h3>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
    <li>
      <span>{{ post.date | date_to_string }} &raquo;</span> <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
</div>

</center><i><b>Disclosure Statement:</b> When you click on links to various merchants on this site and make a purchase, this can result in this site earning a commission. Affiliate programs and affiliations include, but are not limited to Amazon, the eBay Partner Network, and/or others.</i></center>
