---
layout: default
comments: true
---

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>
<p class="view">by {{ page.author | default: site.author }}
</br>{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}</p>

<!-- Amazon Ads -->

<p><script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=488a6e05-7c0b-4642-8fca-97d14646c174"></script></p>

<!-- End Amazon Ads -->

{{content}}

<!-- Diqus -->

<!-- End Disqus -->